body {
    background-color:rgb(216, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 30px;
}

h3{
    color:midnightblue;
    font-size:1.2rem;
}

/*Element selector */
p{
    font-family: Arial, Helvetica, sans-serif;
}

/*Class selector*/
.highlight {
    color:cornflowerblue;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*ID selector*/
#main-heading {
    color:darkblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    margin-bottom: 10px;
}

img {
    width: 50%;
    border:4px solid cornflowerblue;
    padding: 5px;
    margin:10px;
}

table {
    border: 2px solid darkblue;
    padding: 5 px;
    margin: 15px;
}

th, td{
    padding: 5px;
}

li {
    margin:5px;
    color: black;
}

.header{
    background-color:lightblue;
    padding: 15px;
}

.main-content{
    background-color:lightcyan;
    padding: 15px;
}

.footer{
    background-color:lightblue;
    padding: 10 px;
}

.goals{
    position: relative;
    height: 120px;
    border: 2px solid cornflowerblue;
    padding: 10px;
}

.goal-study{
    position: static;
    padding: 5px;
}

.goal-project{
    position: relative;
    left: 20px;
    top: 10px;
    padding: 5px;
}

.goal-status{
    position: absolute;
    right: 10px;
    bottom: 10px;
    padding: 5px;
}

.left-box {
    float: left;
    width: 40%;
    padding: 10px;
    border: 2px solid cornflowerblue;
}

.right-box {
    float: right;
    width: 40%;
    padding: 10px;
    border: 2px solid cornflowerblue;
}

.clear {
    clear: both;
}


